.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profileFlex {
  flex: 8 1 auto;
}

.link{
  text-decoration: none;
}

.activeLink{
  color: #FFF;
}
