.ingredient{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 272px;
  text-align: center;
}

.price{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name{
  min-height: 48px;
}