.container{
  border-radius: 40px;
  background: #1C1C21;
  text-decoration: none;
  color: #fff;
}

.ingrCont{
  display: flex;
  flex-direction: row;
}

.ingrIcon[data-num="1"]{
  position: relative;
  left: -16px;
}

.ingrIcon[data-num="2"]{
  position: relative;
  left: -32px;
}

.ingrIcon[data-num="3"]{
  position: relative;
  left: -48px;
}

.ingrIcon[data-num="4"]{
  position: relative;
  left: -64px;
}

.ingrIcon[data-num="5"]{
  position: relative;
  left: -80px;
}

.ingrIcon{
  min-height: 61px;
  min-width: 61px;
  max-width: 61px;
  border-radius: 100px;
  border: 2px solid transparent;
  background-image: linear-gradient(#1C1C21, #1C1C21) ,linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img{
  width: 112px;
  height: 56px;
}

.textCont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.priceCont{
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.price{
  margin-right: 9px;
}

.ingrIconDim{
  background-color: #1C1C21;
  opacity: 0.6;
  position: relative;
}

.ingrCount{
  position: absolute;
  top: 32%;
  left: 40%;
}

.orderDone{
  color: #00CCCC;
}